@import "tailwindcss";

:root {
  --background-gradient: linear-gradient(to right, #0B101B, #181E29);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-gradient: linear-gradient(to right, #0B101B, #181E29);
  }
}

body {
  background: var(--background-gradient);
  color: var(--foreground);
}
